<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>

<head>
	<meta charset="UTF-8">
	<title>Rooms - Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<div id="background">
		<div id="page">
			{{>header isRooms=true}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Rooms</h1>
							{{#if rooms.length}}
							<ul id="rooms">
								{{#each rooms}}
								<li>
									<a href="/api/rooms/{{this._id}}"><img src="images/{{this.image}}" alt="Img"></a>
									<h2><a href="/rooms">{{this.name}}</a></h2>
									{{#each this.description}}
									<p>{{this}}</p>
									{{/each}}
									<div class="infos">
										<span class="info">Rate: {{this.rate}} / Day</span>
										<span class="info">Capacity: {{this.capacity}} people</span>
									</div>
								</li>
								{{/each}}
							</ul>
							{{else}}
							<p>{{message}}</p>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>footer isRooms=true}}
	</div>
</body>

</html>